<!-- filters -->

    <div class="  " >  
            <div class="albums-container container-fluid filter_index text-center"
                style="width: 90%;color:#8465b3;" > 

            <h1 style="color:#6b4c9a;"> ADD NEW </h1><hr>
                <a class="nav-link flex-column active " href="{% url 'polls:book-add'  %}">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"Engg Book"|upper}}</button>
              </a><br>

              <a class="nav-link flex-column active " href="{% url 'polls:ebook_add'  %}">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"Ebook"|upper}}</button>
              </a><br>

              <a class="nav-link flex-column active" href="{% url 'polls:enotes_add'  %}">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"Enotes"|upper}}</button>
                </a><br>

              <a class="nav-link  flex-column active" href="{% url 'polls:novel_add'  %}">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"Novel"|upper}}</button>
                </a><br>

              <a class="nav-link flex-column active" href="{% url 'polls:etx_add' %}">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"Etx"|upper}}</button>
                </a>  
                    
                      

            </div > 
    </div >  
        <!-- filters end--> 